{
	frankenphp
}

# The domain name of your server
localhost:8000 {
	# Set the webroot to the public/ directory
	root * public/
	# Execute PHP files from the public/ directory and serve assets
	php_server
}
