# Global dependencies
node_modules/
npm-debug.log
yarn-error.log
lerna-debug.log
.DS_Store

# IDE/Editor specific
/.idea/
/.vscode/
/.devcontainer/
.history
*.code-workspace
/.awcache
.classpath
.project
.settings

# TypeScript build artifacts
*.tsbuildinfo

# Monorepo specific files
/apps/**/dist
/apps/**/node_modules

# Tests and coverage
/coverage/
/.nyc_output/

# Build configs
build/config.gypi

# Specific to apps (e.g., cinbeboo-api)


